$mainColor: #039be5;
$bgColor: #6d6d6d;

.media {
  &-car {
    margin: 12px 0;
    border: 2px solid $mainColor;
    border-radius: 15px;
    padding: 10px;

    img {
      height: 150px;
      width: 200px;
      position: relative;
      top: 4px;
    }

    &:hover {
      background-color: rgba($color: $bgColor, $alpha: 0.1);
      cursor: pointer;
      text-decoration: none;
    }
  }
  &-body {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: black;
  }
}

.table {
  th{
    text-align: center;
  }

  td {
    vertical-align: middle;
  }

  img{
    width: 32px;
    height: 32px;
  }
  
  .btn-accident {
    width: 32px;
    height: 32px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 4px;

    &:hover {
      background-color: rgba($color: $bgColor, $alpha: 0.1);
    }
  } 
}

.pagination {
  margin: 15px auto;
  display: flex;
  list-style: none;
  outline: none;
}
.pagination > .active > a {
  background-color: $mainColor;
  border-color: $mainColor;
  color: #fff;
}
.pagination > li > a {
  border: 1px solid $mainColor;
  padding: 5px 10px;
  outline: none;
  cursor: pointer;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: $mainColor;
  border-color: $mainColor;
  outline: none;
}
.pagination > li > a,
.pagination > li > span {
  color: $mainColor;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span,
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-radius: unset;
}
