$mainColor: #039be5;
$bgColor: #6d6d6d;

a {
  text-decoration: none;
}

.list-group-item {
  &:hover {
    cursor: pointer;
    text-decoration: none;
  }
}

.media {
  &-company{
    margin: 12px 0;
    border: 2px solid $mainColor;
    border-radius: 15px;
    padding: 10px; 

    img {
      height: 128px;
      width: 128px;
    }
  
    .plus-icon{
      margin: auto;
    }
  
    &:hover {
      background-color: rgba($color: $bgColor, $alpha: 0.1);
      cursor: pointer;
      text-decoration: none;          
    }
  }
  &-body {
    color: black;
  }
}

.table-responsive{
  max-height: 400px;
}

.table {
  td {
    vertical-align: middle;
  }

  &-button-block {
    min-width: 70px;

    img {
        display: inline-block;
        width: 32px;
        height: 32px;
        border: 1px solid black;
        border-radius: 5px;
        padding: 4px;

        &:hover {
            background-color: rgba($color: $bgColor, $alpha: 0.1);
          }
      }      
  }
    
  .btn-details {
    color: $mainColor;
  }
}

.badge {
  margin: 0 5px;
}

.response-error-message{
  margin: 0 12px;
  color: red;
}

