$mainColor: #039be5;
$bgColor: #6d6d6d;

.Nav-Block{
  padding: 20px;
  margin: 15px;
  height: 180px;
  width: 180px;
  display: inline-block;
  justify-content: center;
  align-items: center;
  border: 2px solid $mainColor;
  border-radius: 15px;


  &:hover {
    background-color: rgba($color: $bgColor, $alpha: 0.1);
    text-decoration:none
  }

  &-Icon{
    width: 112px;
    height: 112px;
    fill: $mainColor;
  }

  &-Title {
    padding-bottom: 10px;
    width: 100%;
    justify-content: center;
    font-size: 24px;
    align-items: center;
    color: $mainColor;
   
  }

}