.App {
    text-align: center;

    max-width: 1080px;
    min-width: 320px;
  
    margin: 0 auto;
  }

  .ring-spinner{
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .submit-spinner{
    position: relative;
    margin-left: 20px;
    margin-right: -10px;
    top: 6px;
  }
  